<div class="compass-location text-center padding">

    <div ng-if="!$ctrl.loading && $ctrl.lat && $ctrl.lng">

        <div class="padding" ng-switch="$ctrl.type">
            <div ng-switch-when="dms">

                {{$ctrl.lat | coordinateToDms:'lat'}}
                &nbsp;&nbsp;
                {{$ctrl.lng | coordinateToDms:'lng'}}

            </div>
            <div ng-switch-when="deg">

                {{$ctrl.lat | number:7}}
                &nbsp;&nbsp;
                {{$ctrl.lng | number:7}}

            </div>
        </div>

        <div class="button-bar bar-stable">

            <a href class="button button-small"
               ng-click="$ctrl.setType('dms')"
               ng-class="{active: $ctrl.type === 'dms'}">DMS</a>

            <a href class="button button-small"
               ng-click="$ctrl.setType('deg')"
               ng-class="{active: $ctrl.type === 'deg'}">DEG</a>

        </div>

        <div class="text-center padding-top">

            <div class="padding-top">
                <a ng-if="$ctrl.isIOS"
                   ng-href="http://maps.apple.com/?ll={{$ctrl.lat}},{{$ctrl.lng}}&z=16"
                   class="">View in Maps App</a>

                <a ng-if="!$ctrl.isIOS"
                   ng-href="https://maps.google.com/maps?q={{$ctrl.lat}},{{$ctrl.lng}}&z=16"
                   class="">View in Google Maps</a>
            </div>

        </div>

    </div>

</div>

<div ng-if="!$ctrl.loading" class="text-center">
    <div class="assertive padding-bottom" ng-if="!$ctrl.lat && !$ctrl.lng">
        &nbsp; Enable Geolocation first and then click the button &nbsp;
    </div>
    <div ng-if="!$ctrl.lat && !$ctrl.lng">
        <button ng-click="$ctrl.startGelocation()"
                class="button button-positive">Get location
        </button>
    </div>
</div>

