<div class="compass-compass text-center">

    <div class="text-monospace padding-bottom">
        {{$ctrl.magneticHeading}}
    </div>

    <div class="compass-compass-figure">
        <img src="img/compass.png" class="compass-compass-image" alt="">

        <img src="img/compass-arrow.png"
             class="compass-compass-arrow"
             ng-style="{
             '-webkit-transform': 'rotate(' + ($ctrl.magneticHeading || 0) +'deg)',
                     'transform': 'rotate(' + ($ctrl.magneticHeading || 0) +'deg)',
             }"
             alt="">
    </div>

</div>

<h1 class="compass-compass-heading">
    <span class="row row-no-padding">
        <span class="col col-50 text-right">
            &nbsp;<span ng-if="$ctrl.orientation">{{$ctrl.magneticHeading | number:0}}</span>
        </span>
        <span class="col col-50 text-left">
            <span ng-if="$ctrl.orientation">˚{{$ctrl.cardinalDirection}}</span>&nbsp;
        </span>
    </span>
</h1>
